
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/Accounts/Login" method="post">
    <div>
        Username <input type="text" name="username" />
    </div>
    <div>
        Password <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>