
@{
    ViewBag.Title = "Create";
}

<h2>AddRole</h2>

<form action="/AccountRoles/Store" method="post">
    <div>
        Name <input type="text" name="name" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>